#logo{    
    font-family: 'Kaushan Script', cursive;
    font-size: 3.75rem;
    text-align: center;
    line-height:3rem ;
    color: #fff;
}



.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background: url("../img/imagen-fondo.jpg");
}

 header [id^="icono"]{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height:2.3rem ;
    color: white;

    margin-right: .5rem;
    margin-left: .5rem;
}
.centrar img{
    width: 50%;
    height: 50%;
    align-items: center;
}

/* Estilos de la nav */


.botones{
    text-align: center;
    padding: 0.625rem;
    background: url("../img/imagen-fondo.jpg");
    transition: transform 0.3s;
}

.botones a{
    display: block;
    line-height: 3rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-weight: bold;
    color: #fff;;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.banners a:hover{
    transform: scale(1.05);
} 

.botones .a-red{
    color: #f5d904;
}
.botones .b-red{
    color: red;
}

.botones a:hover{
    color: red;
}



.botones{
    text-align: center;
    padding: 0.625rem;
    transition: transform 0.3s;
}
.botones a{
    /* display: inline; */
    line-height: 3rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-weight: bold;
    color: #fff;;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.3s;
}


/* dropdown */


.seccion1 h1{
    font-size: large;
    margin: 50px 20PX;
}
.dropdown a{
    color: #000;
}
.dropdown a:hover{
    color: #cd0505;
    transition: all .05S;
}


.kitty{
    text-align: center;
    transition: transform 0.3s; 
}

.kitty img{
    width: 30rem;
    height: 23rem;
    transition: opacity 0.3s;
}

.kitty:hover{
    transform: scale(1.05);
}

/* footer */



footer{
    background-color: rgba(100, 0, 255,1);
    text-align: center;
    /* line-height: 5rem; */
    color: white;
    font-family: sans-serif;
    font-size: 1.1rem;
    background: url("../img/imagen-fondo.jpg");
}


.formulario input{
    border-radius: 5px;
    font-size: 14px;
    justify-content: center;
}
.mensaje{
    height: 50px;
    text-align: none;
    justify-content: none;
}

.btn-enviar{
    background-color: #d2930c;
    width: 100px;
    height: 25px;
    border-bottom: solid black;
}

.formulario input[type="submit"]
{
    border: 0;
    width: 100px;
    height: 25px;
    background-color: rgba(100, 0, 255,1);
    color: white;
    font-size:1rem ;
    cursor: pointer;
}
.formulario input[type="submit"]:hover{
    background-color:rgba(100, 0, 255,.5);
}

.formulario input[type="submit"]:active{
    background-color:rgba(37, 6, 83, 0.886);
}

.footer-mapa{
    width: 100%;
    height: 260px;
}

.centrar2{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 250px;
}
.centrar2 img{
    width: 100%;
    height: 100%;
    /* border-radius: 30px; */
    align-items: center;
}
    

/* Estilos Global para Grid Responsivo */
*{
     margin:0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     font-family: sans-serif;
     box-sizing: border-box; 
/*Relleno y borde estan incluidos en los elementos de la caja  */
}
.contenedor
{
     position: relative;
     margin: auto;
     width: 100%;
     height: auto;
}
.fila{
     position: relative;
     margin: auto;
     width: 100%;
     height: auto;
     /* Las columnas dentro de una fila estan flotando a la izquierda, por lo tanto
     se toman fueran del flujo de la pagina y otros elementos serán colocados como si no
     dan las columnas para evitar esto se añade un estilo que despeje el flujo */
     clear: both;
/* Respete si falta algun elemento en la fila*/
     display: table;
/*Respete el area de las cajas flotantes  */
}
[class*='col-']{
     float: left;
     /* border: 1px solid black; */
     padding: 1%;
}
/* Pantalla de escritorio EXTRA GRANDE EXTRA LARGE >=1200px */
@media(min-width:1200px)
{
     .col-xl-12{width: 100%;}
     .col-xl-11{width: 91.666666%;}
     .col-xl-10{width: 83.333333%;}
     .col-xl-9{width: 75%;}
     .col-xl-8{width: 66.666666%;}
     .col-xl-7{width: 58.333333%;}
     .col-xl-6{width: 50%;}
     .col-xl-5{width: 41.666666%;}
     .col-xl-4{width: 33.333333%;}
     .col-xl-3{width: 25%;}
     .col-xl-2{width: 16.666666%;}
     .col-xl-1{width: 8.333333%;}
}
/* Pantalla de escritorio  GRANDE  LARGE >=992px AND <=1199 */
@media(min-width:992px) and (max-width:1199px)
{
     .col-lg-12{width: 100%;}
     .col-lg-11{width: 91.666666%;}
     .col-lg-10{width: 83.333333%;}
     .col-lg-9{width: 75%;}
     .col-lg-8{width: 66.666666%;}
     .col-lg-7{width: 58.333333%;}
     .col-lg-6{width: 50%;}
     .col-lg-5{width: 41.666666%;}
     .col-lg-4{width: 33.333333%;}
     .col-lg-3{width: 25%;}
     .col-lg-2{width: 16.666666%;}
     .col-lg-1{width: 8.333333%;}
}
/* Pantalla de escritorio  MEDIANA  MEDIUM >=768px AND <=991  TABLET */
@media(min-width:768px) and (max-width:991px)
{
     .col-md-12{width: 100%;}
     .col-md-11{width: 91.666666%;}
     .col-md-10{width: 83.333333%;}
     .col-md-9{width: 75%;}
     .col-md-8{width: 66.666666%;}
     .col-md-7{width: 58.333333%;}
     .col-md-6{width: 50%;}
     .col-md-5{width: 41.666666%;}
     .col-md-4{width: 33.333333%;}
     .col-md-3{width: 25%;}
     .col-md-2{width: 16.666666%;}
     .col-md-1{width: 8.333333%;}
}
/* Pantalla de escritorio  PEQUEÑA  SMALL >=576px AND <=767 CEL */
@media(min-width:576px) and (max-width:767px)
{
     .col-sm-12{width: 100%;}
     .col-sm-11{width: 91.666666%;}
     .col-sm-10{width: 83.333333%;}
     .col-sm-9{width: 75%;}
     .col-sm-8{width: 66.666666%;}
     .col-sm-7{width: 58.333333%;}
     .col-sm-6{width: 50%;}
     .col-sm-5{width: 41.666666%;}
     .col-sm-4{width: 33.333333%;}
     .col-sm-3{width: 25%;}
     .col-sm-2{width: 16.666666%;}
     .col-sm-1{width: 8.333333%;}
}
/* Pantalla de escritorio  EXTRA PEQUEÑA  EXTRA SMALL <576px   CEL */
@media(max-width:575px)
{
     .col-12{width: 100%;}
     .col-11{width: 91.666666%;}
     .col-10{width: 83.333333%;}
     .col-9{width: 75%;}
     .col-8{width: 66.666666%;}
     .col-7{width: 58.333333%;}
     .col-6{width: 50%;}
     .col-5{width: 41.666666%;}
     .col-4{width: 33.333333%;}
     .col-3{width: 25%;}
     .col-2{width: 16.666666%;}
     .col-1{width: 8.333333%;}
     .col-0{display: none;}
}
